.icon-fix{
    position: relative;
    top: -3px;
}

.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.list-group-item:hover{
    background-color: #1a1a1a !important;
    color: yellow !important;
}

#page-content-wrapper{
    width: calc(100% - 250px);
    margin-left: 250px;
}