.card-hover {
    transition: all 0.3 ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}

.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.card-hover:hover i {
    filter: drop-shadow(0 0 5px #fff);
}

.card-title {
    position: relative;
    display: inline;
}

.card-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: black;
    transition: width 0.3s ease;
}

.card-hover:hover .card-title::after {
    width: 100%;
}