.navbar-brand, .nav-link{
    display: inline-flex;
    align-items: center;
}

.navbar-brand:hover {
    color:#ffc107 !important;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.navbar-brand:hover svg{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(3deg);
    }
    100%{
        transform: rotate(0);
    }
}

.nav-link:hover{
    color:#000 !important;
    background-color: #ffc107;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}